{% extends "front/base.html.twig" %}


{% block main %}

    

    <h1>Liste des categories</h1>

    {% for category in categories %}
       
        <a href="{{ path('front_show_category', { 'id' : category.id }) }}" >
            <h2  > {{ category.name }} </h2>
        </a>
        <h3> {{ category.description }} </h3>
                      
    {% endfor %}



    
{% endblock %}